---
layout: base
---

<div class="home">
    {%- if page.title -%}
        <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    <img src="assets/images/Me.JPG/" width="200" style="border-radius:50%; display: block; margin: 0 auto;">
    <p> Hello! My name is Cullen Anderson. </p>
    <p> 
        I am a second year Computer Science and Pure Math student at the University Of Massachusetts Amherst. 
    </p>
    <p>
        I am currently working on Robust Statistics at the University Of Utah with <a href="https://users.cs.utah.edu/~jeffp/" target="_blank"> Professor Jeff Phillips 
        </a> and PhD candidate Meysam Alishahi. During Spring 2023, I also worked at the <a href="https://publicinfrastructure.org/" target="_blank"> 
        Initiative For Digital Public Infrastructure</a> under <a href="https://ethanzuckerman.com/" target="_blank"> Professor Ethan Zuckerman </a>
        and PhD candidate Spencer Lane. 
    </p>
    <p>
        See my resume <a href="assets/files/Resume.pdf" target="_blank">here</a>.
    </p>

    <h3 id="contact">Contact</h3>
    <a href="mailto:cyanderson@umass.edu" target="_blank">cyanderson@umass.edu</a> <br>
    <a href="https://github.com/cullena20" target="_blank">github.com/cullena20</a> <br>
    <a href="https://www.linkedin.com/in/cullenyanderson" target="_blank">linkedin.com/in/cullenyanderson</a> <br>
</div>